<h1>PassUsingViewBag</h1>
<div class="calculations">
    <b>
        Rand Value First: @ViewBag.CalcDataModel.firstNum<br>
        Rand Value Second: @ViewBag.CalcDataModel.secondNum<br>
    </b>

    <b>Add :</b><br>
    @ViewBag.CalcDataModel.firstNum + @ViewBag.CalcDataModel.secondNum = @ViewBag.CalcDataModel.add<br>

    <b>Sub :</b><br>
    @ViewBag.CalcDataModel.firstNum - @ViewBag.CalcDataModel.secondNum = @ViewBag.CalcDataModel.sub<br>

    <b>Mult :</b><br>
    @ViewBag.CalcDataModel.firstNum * @ViewBag.CalcDataModel.secondNum = @ViewBag.CalcDataModel.mult<br>

    <b>Div :</b><br>
    @ViewBag.CalcDataModel.firstNum / @ViewBag.CalcDataModel.secondNum = @ViewBag.CalcDataModel.div<br>
</div>
